.wrapp {
  padding-top: 7%;
}
.content_item {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.rect {
  border-width: 4px;
  border-radius: 27px;
  background-color: transparent;
  border-color: #a6c954;
  border-style: solid;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5%;
}
.pluse {
  width: 70px;
}
.rect_t {
  padding-left: 4%;
  color: #ffffff;
  font-size: 20px;
  line-height: 120%;
  font-weight: 500;
}
.butt_wrapp {
  display: flex;
  justify-content: center;
  padding: 5% 0%;
}
.butt {
  color: #ffffff;
  font-size: 20px;
  padding: 4% 12%;
  font-weight: 600;
  border-width: 3px;
  border-radius: 50px;
  text-wrap: nowrap;
  background-image: linear-gradient(
    0.35168578748975493turn,
    rgba(128, 201, 84, 1) 0%,
    rgba(57, 122, 55, 1) 100%
  );
  border-color: #ffffff;
  border-style: solid;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out,
    border-color 0.2s ease-in-out;
  align-items: center;
}
.arrow {
  height: 25px;
  width: 100%;
  display: inline;
}
.game_wrapp {
  display: flex;
  justify-content: center;
  align-items: center;
}
.game {
  width: 100%;
}


@media (max-width: 957px) {
  .rect_t{
    font-size: 15px;
  }
  .butt{
    font-size: 15px;
  }
  .game {
    width: 80%;
  }
  .wrapp {
    padding-top: 7%;
    flex-direction: column;
  }
  .butt {
    padding: 20px 70px;
  }
}
@media (max-width: 684px) {
  .butt {
    padding: 15px 50px;
    border-width: 2px;
  }
}
@media (max-width: 365px) {
  .butt {
    padding: 5% 15%;
    border-width: 2px;
  }
  .game {
    width: 100%;
  }
}
