.wrapp {
  padding-top: 150px;
}
.content_wrapp {
  position: relative;
}
.title {
  color: #ffffff;
  font-size: 40px;
  font-weight: 700;
  line-height: 120%;
  text-transform: uppercase;
}
.content {
  color: #80c954;
  font-size: 25px;
  font-weight: 500;
  margin-top: 2%;
  text-transform: uppercase;
}
.game {
  width: 120%;
}
.apple {
  position: absolute;
  width: 100px;
  top: 60%;
  left: 100%;
  animation: animate 3s linear infinite;
}
@keyframes animate {
  0% {
    transform: rotate(-30deg);
  }
  50% {
    transform: rotate(30deg);
  }
  100% {
    transform: rotate(-30deg);
  }
}

.form_ {
  border-radius: 38px;
  opacity: 0.93;
  background-color: #ffffff;
  padding: 12% 7%;
}
.form_control {
  padding-top: 7%;
  width: 100%;
}
.f_title {
  font-size: 20px;
  font-weight: 600;
}
.butt_wrapp {
  display: flex;
  justify-content: center;
  padding-top: 10%;
}
.butt {
  color: #ffffff;
  font-size: 20px;
  padding: 4% 12%;
  font-weight: 600;
  border-width: 3px;
  border-radius: 50px;
  background-image: linear-gradient(
    0.35168578748975493turn,
    rgba(128, 201, 84, 1) 0%,
    rgba(57, 122, 55, 1) 100%
  );
  border-color: #ffffff;
  border-style: solid;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out,
    border-color 0.2s ease-in-out;
  text-wrap: nowrap;
  align-items: center;
}

.cubes {
  position: absolute;
  height: 130px;
  left: 600px;
  top: 650px;
}
.form_wrapp {
  padding: 0% 0% 5% 15%;
  position: relative;
}
.form {
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #fff;
  height: 960px;
  border-radius: 30px;
}

/*///////////////////////////////////*/
@media (max-width: 1394px) {
  .form {
    width: 97%;
    height: 960px;
  }
}
@media (max-width: 1316px) {
  .form {
    height: 1000px;
  }
  .title {
    font-size: 35px;
  }
  .content {
    font-size: 20px;
  }
  .game {
    padding-top: 15%;
    width: 125%;
  }
  .apple {
    width: 100px;
    top: 65%;
    left: 90%;
  }
}
@media (max-width: 1292px) {
  .form {
    height: 1050px;
  }
}
@media (max-width: 1239px) {
  .cubes {
    height: 15%;
    left: 85%;
    top: 65%;
  }
  .apple {
    width: 25%;
    top: 65%;
    left: 90%;
  }
}
@media (max-width: 1075px) {
  .form {
    height: 1070px;
  }
  .game {
    padding-top: 25%;
    width: 170%;
    z-index: -1;
  }
  .cubes {
    height: 10%;
    left: 85%;
    top: 65%;
  }
  .content_wrapp {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .title {
    font-size: 30px;
  }
  .apple {
    top: 70%;
  }
}
/*            TABLET VIEW                 */
@media (max-width: 957px) {
  .wrapp {
    flex-direction: column;
  }
  .content_wrapp {
    padding-bottom: 5%;
  }
  .title {
    font-size: 40px;
  }
  .apple {
    top: 0%;
    width: 15%;
    left: 85%;
  }
  .cubes {
    height: 12%;
    left: 0%;
    top: 56%;
  }
  .text_wrapp {
    padding-right: 25%;
  }
  .form_wrapp {
    padding: 0% 0% 5% 0%;
    position: relative;
  }
  .form {
    height: 950px;
  }
  .game {
    padding-top: 5%;
    width: 90%;
  }
}
@media (max-width: 840px) {
  .title {
    font-size: 35px;
  }
  .apple {
    top: 0%;
    width: 13%;
    left: 85%;
  }
}
@media (max-width: 734px) {
  .title {
    font-size: 32px;
  }
  .apple {
    top: 10%;
    width: 15%;
    left: 85%;
  }
  .cubes {
    height: 12%;
    left: 0%;
    top: 60%;
  }
}
@media (max-width: 650px) {
  .form {
    height: 970px;
  }
  .cubes {
    height: 11%;
    top: 65%;
  }
}
@media (max-width: 621px) {
  .form {
    height: 1000px;
  }
  .cubes {
    height: 10%;
    top: 67%;
  }
}
@media (max-width: 580px) {
  .form {
    height: 1050px;
  }
}
@media (max-width: 540px) {
  .title {
    font-size: 30px;
  }
  .apple {
    top: 10%;
    width: 17%;
    left: 85%;
  }
  .text_wrapp {
    padding-right: 18%;
  }
  .cubes {
    height: 7%;
    top: 73%;
  }
  .form {
    height: 1060px;
  }
}
@media (max-width: 480px) {
  .text_wrapp {
    padding-right: 17%;
  }
  .form {
    height: 1080px;
  }
}
@media (max-width: 435px) {
  .form {
    height: 1110px;
  }
  .cubes {
    height: 7%;
    top: 77%;
  }
  .text_wrapp {
    padding-right: 15%;
  }
}
@media (max-width: 420px) {
  .apple {
    top: 80%;
    width: 17%;
    left: 80%;
    z-index: 3;
  }
}
@media (max-width: 400px) {
  .form {
    height: 1140px;
  }
}
@media (max-width: 380px) {
  .form {
    height: 1170px;
  }
}
@media (max-width: 369px) {
  .form {
    height: 1025px;
  }
  .cubes {
    height: 5%;
    top: 80%;
  }
}
@media (max-width: 344px) {
  .form {
    height: 1060px;
  }
}
@media (max-width: 329px) {
  .form {
    height: 1100px;
  }
}
