.wrapp {
  padding-top: 10%;
}
.item__gr_text_wrapp {
  padding: 0% 0% 7% 60%;
}
.ql {
  color: #ffffff;
  font-size: 40px;
  font-weight: 700;
  letter-spacing: -1px;
  text-transform: uppercase;
  background-position: center center;
  margin-bottom: 1%;
}
.text_under_ql {
  color: #ffffff;
  font-size: 18px;
  line-height: 120%;
  background-position: center center;
}
.images {
  padding-left: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mbag {
  height: 150px;
  position: absolute;
  padding-right: 1%;
  animation: pulse 2s ease-in-out infinite;
}
@keyframes pulse {
  from {
    transform: scale(0.85);
  }
  50% {
    transform: scale(1);
  }
  to {
    transform: scale(0.85);
  }
}
.star {
  height: 300px;
  z-index: -1;
  position: absolute;
  animation: animate 17s linear infinite;
}
@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.cards_wrapp {
  flex-direction: row;
  padding-top: 7%;
}
.text_wrapp {
  text-align: left;
}
.title {
  color: #000000;
  font-size: 20px;
  transform: rotate(356deg);
  font-weight: 600;
}
.content {
  transform: rotate(356deg);
  color: #000000;
  font-size: 20px;
  padding-left: 8px;
  line-height: 27px;
}
.card1 {
  background-image: url("./img/card1.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  height: 500px;
  padding: 5% 6%;
}
.card2 {
  background-image: url("./img/card2.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  height: 500px;
  padding: 4% 4% 0% 8%;
}
.card2 > .text_wrapp {
  transform: rotate(6.7deg);
}
.card3 {
  background-image: url("./img/card3.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  height: 500px;
  padding: 4% 5% 5% 6%;
}
.card3 > .text_wrapp {
  transform: rotate(2deg);
}
.back_star {
  position: absolute;
  z-index: -1;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.gamerules_wrapp {
  /* padding: 10% 0%; */
  height: 900px;
  justify-content: space-between;
  flex-direction: column;
  background-image: url("./img/gamerules.png");
  background-size: 55%;
  background-repeat: no-repeat;
  background-position: center center;
}
.hand {
  height: 150px;
  padding-left: 10%;
  padding-top: 10%;
  animation: pulse 2s ease-in-out infinite;
}
@keyframes pulse {
  from {
    transform: scale(0.85);
  }
  50% {
    transform: scale(1);
  }
  to {
    transform: scale(0.85);
  }
}
.gr_text_wrapp {
  border-radius: 22px;
  padding: 3%;
  transform: rotate(8deg);
  background-color: #ffffff;
  background-position: center center;
  border-color: transparent;
}
.gr_text {
  color: #000000;
  font-size: 20px;
}

.results_wrapp {
  padding: 2%;
  border-radius: 33px;
  background-color: #ffffff;
  border-width: 4px;
  border-color: #a6c954;
  border-style: solid;
}
.marker {
  height: 20px;
  margin-right: 1%;
}
.results_text {
  color: #000000;
  font-size: 20px;
}

/*////////////////////////////////////////////*/

@media (max-width: 1357px) {
  .card1 {
    height: 470px;
    padding: 4% 6% 5%;
  }
  .card2 {
    height: 470px;
    padding: 4% 4% 0% 8%;
  }
  .card3 {
    height: 470px;
    padding: 4% 5% 5% 6%;
  }
  .title {
    font-size: 18px;
    font-weight: 600;
  }
  .content {
    font-size: 18px;
    line-height: 25px;
  }
  .results_text {
    font-size: 18px;
  }
  .gr_text {
    font-size: 18px;
  }
}
@media (max-width: 1310px) {
  .card1 {
    height: 400px;
    padding: 5% 6% 5%;
  }
  .card2 {
    height: 400px;
    padding: 5% 4% 0% 7%;
  }
  .card3 {
    height: 400px;
    padding: 5% 5% 5% 6%;
  }
  .title {
    font-size: 17px;
    font-weight: 600;
  }
  .content {
    font-size: 17px;
    line-height: 20px;
  }
}
@media (max-width: 1186px) {
  .card2 {
    height: 400px;
    padding: 6% 4% 0% 6.7%;
  }
}

@media (max-width: 1100px) {
  .card1 {
    height: 350px;
    padding: 5% 5% 5%;
  }
  .card2 {
    height: 350px;
    padding: 4% 3% 0% 7.5%;
  }
  .card3 {
    height: 350px;
    padding: 3.5% 4% 5% 6%;
  }
  .star {
    height: 250px;
  }
  .mbag {
    height: 100px;
  }
  .hand {
    height: 100px;
  }
  .gamerules_wrapp {
    height: 700px;
    background-size: 55%;
  }
}
@media (max-width: 1080px) {
  .card2 {
    padding: 4% 2.5% 0% 7%;
  }
}
@media (max-width: 1056px) {
  .card1 {
    padding: 5% 4% 5% 5%;
  }
  .card3 {
    padding: 3.5% 3% 5% 6%;
  }
}
@media (max-width: 1036px) {
  .card1 {
    padding: 5% 4% 5% 5%;
  }
  .card2 {
    padding: 4% 1% 0% 6%;
  }
  .card3 {
    padding: 3.5% 3% 5% 5%;
  }
}
@media (max-width: 976px) {
  .card1 {
    padding: 5% 2% 5% 4%;
  }
  .card2 {
    padding: 4% 1% 0% 6%;
  }
  .card3 {
    padding: 3.5% 2% 5% 5%;
  }
}

/*    TABLET VIEW   */
@media (max-width: 957px) {
  .gamerules_wrapp {
    height: 800px;
    background-size: 80%;
  }
  .cards_wrapp {
    flex-direction: column;
  }
  .card1 {
    background-position: left center;
    padding: 4% 6%;
    height: 410px;
    width: 100%;
  }
  .card1 > .text_wrapp {
    padding-top: 10%;
    padding-right: 17%;
    padding-left: 5%;
  }
  .card2 {
    background-position: right center;
    padding: 4% 6%;
    height: 410px;
    padding-right: 2%;
    width: 100%;
  }
  .card2 > .text_wrapp {
    padding-top: 8%;
    padding-left: 25%;
  }
  .card3 {
    background-position: left center;
    padding: 4% 6%;
    height: 410px;
    width: 100%;
  }
  .card3 > .text_wrapp {
    padding-top: 5%;
    padding-left: 3%;
    padding-right: 17%;
  }
  .title {
    font-size: 20px;
  }
  .content {
    font-size: 18px;
    padding-left: 1%;
    line-height: 27px;
  }
  .images {
    padding: 0;
    position: relative;
    width: 100%;
  }
  .mbag {
    height: 35%;
    padding-right: 0%;
    left: 30%;
  }
  .star {
    height: 65%;
    left: 5%;
  }
  .hand {
    height: 200px;
    padding-left: 0%;
    padding-top: 0%;
  }
  .item__gr_text_wrapp {
    padding: 0% 0% 7% 35%;
  }
  .gr_text_wrapp {
    border-radius: 20px;
    padding: 3%;
    transform: rotate(5deg);
  }
  .results_wrapp {
    padding: 3%;
    border-radius: 20px;
  }
}
@media (max-width: 898px) {
  .card1 > .text_wrapp {
    padding-top: 10%;
    padding-right: 13%;
    padding-left: 4%;
  }
  .card2 {
    padding: 4% 6%;
    height: 410px;
    padding-right: 2%;
    width: 100%;
  }
  .card2 > .text_wrapp {
    padding-top: 8%;
    padding-left: 20%;
  }
  .card3 > .text_wrapp {
    padding-top: 5%;
    padding-left: 3%;
    padding-right: 12%;
  }
}
@media (max-width: 860px) {
  .card2 > .text_wrapp {
    padding-left: 17%;
  }
}
@media (max-width: 825px) {
  .card1 > .text_wrapp {
    padding-top: 10%;
    padding-right: 4%;
    padding-left: 4%;
  }
  .star {
    height: 50%;
  }
  .mbag {
    height: 30%;
    left: 25%;
  }
  .hand {
    height: 150px;
    padding-left: 0%;
    padding-top: 0%;
  }
  .back_star {
    height: 80%;
  }
  .card2 {
    padding: 4% 6%;
    height: 410px;
    padding-right: 2%;
    width: 100%;
  }
  .card2 > .text_wrapp {
    padding-top: 10%;
    padding-left: 12%;
  }
  .card3 > .text_wrapp {
    padding-top: 6%;
    padding-left: 3%;
    padding-right: 3%;
  }
}
@media (max-width: 777px) {
  .title {
    font-size: 18px;
    font-weight: 600;
  }
  .content {
    padding-left: 2%;
    line-height: 140%;
  }
  .card3 > .text_wrapp {
    padding-top: 10%;
    padding-left: 5%;
    padding-right: 2%;
  }
}
@media (max-width: 742px) {
  .card1 > .text_wrapp {
    padding-top: 15%;
    padding-right: 0%;
    padding-left: 5%;
  }
  .card2 > .text_wrapp {
    padding-top: 12%;
    padding-left: 10%;
  }
  .gamerules_wrapp {
    height: 600px;
    background-size: 80%;
  }
  .card3 > .text_wrapp {
    padding-right: 0%;
  }
}
@media (max-width: 713px) {
  .card1 > .text_wrapp {
    padding-top: 17%;
  }
  .card2 > .text_wrapp {
    padding-top: 17%;
    padding-left: 10%;
  }
  .card3 > .text_wrapp {
    padding-right: 0%;
  }
  .star {
    height: 45%;
  }
  .mbag {
    height: 25%;
    left: 30%;
  }
}
@media (max-width: 664px) {
  .card1 > .text_wrapp {
    padding-top: 22%;
  }
  .card2 > .text_wrapp {
    padding-top: 20%;
    padding-left: 10%;
  }
  .card3 > .text_wrapp {
    padding-top: 12%;
    padding-left: 6%;
  }
  .hand {
    height: 170px;
  }
  .item__gr_text_wrapp {
    padding: 0% 0% 7% 1%;
  }
}
@media (max-width: 658px) {
  .card1 > .text_wrapp {
    padding-top: 28%;
    padding-left: 5%;
  }
  .card2 > .text_wrapp {
    padding-top: 25%;
    padding-left: 12%;
  }
  .card3 > .text_wrapp {
    padding-top: 7%;
  }
  .card3 {
    height: 360px;
  }
  .title {
    font-size: 17px;
  }
  .content {
    font-size: 17px;
    line-height: 130%;
  }
}

@media (max-width: 632px) {
  .card1 > .text_wrapp {
    padding-top: 35%;
  }
  .card2 > .text_wrapp {
    padding-top: 32%;
    padding-left: 10%;
    padding-right: 0%;
  }
  .card3 > .text_wrapp {
    padding-top: 12%;
    padding-left: 7%;
  }
  .card2,
  .card3 {
    margin-top: -10%;
  }
  .cards_wrapp {
    margin-bottom: -20%;
  }
  .mbag {
    height: 25%;
    left: 30%;
  }
  .star {
    height: 45%;
  }
  .title {
    line-height: 110%;
  }
  .content {
    line-height: 110%;
  }
}
@media (max-width: 617px) {
  .card2 > .text_wrapp {
    padding-top: 36%;
    padding-left: 5%;
    padding-right: 0%;
  }
}
@media (max-width: 606px) {
  .card1 > .text_wrapp {
    padding-top: 35%;
  }
  .card2 > .text_wrapp {
    padding-top: 40%;
    padding-left: 5%;
    padding-right: 0%;
  }
  .card3 > .text_wrapp {
    padding-top: 12%;
    padding-left: 5%;
  }
}
@media (max-width: 596px) {
  .cards_wrapp {
    margin-bottom: -10%;
  }
  .images {
    display: none;
  }
  .card2,
  .card3 {
    margin-top: 0%;
  }
  .card1 > .text_wrapp {
    padding: 0;
    padding-top: 14%;
    padding-left: 5%;
    width: 68.5%;
  }
  .card2 > .text_wrapp {
    padding: 0;
    padding-top: 10%;
    padding-left: 40%;
    width: 60%;
  }
  .card3 > .text_wrapp {
    padding: 0;
    padding-top: 12%;
    padding-left: 5%;
    width: 64%;
  }
  .card3 {
    height: 420px;
  }
  .gamerules_wrapp {
    height: 500px;
    background-size: 80%;
  }
  .gr_text_wrapp {
    border-radius: 10px;
    padding: 5%;
  }
  .results_wrapp {
    border-radius: 10px;
    padding: 5%;
  }
  .content {
    padding-left: 1%;
  }
}

@media (max-width: 537px) {
  .card1 > .text_wrapp {
    padding: 0;
    padding-top: 15%;
    padding-left: 5%;
    width: 68.5%;
  }
  .card2 > .text_wrapp {
    padding: 0;
    padding-top: 12%;
    padding-left: 32%;
    width: 67%;
  }
  .card3 > .text_wrapp {
    padding: 0;
    padding-top: 15%;
    padding-left: 5%;
    width: 70%;
  }
}

@media (max-width: 505px) {
  .cards_wrapp {
    margin-bottom: -16%;
  }
  .card1 > .text_wrapp {
    padding-top: 17%;
    padding-left: 5%;
    width: 75%;
  }
  .card2 > .text_wrapp {
    padding-top: 15%;
    padding-left: 27%;
    width: 73%;
  }
  .card3 > .text_wrapp {
    padding-top: 17%;
    padding-left: 5%;
    width: 79%;
  }
}
@media (max-width: 444px) {
  .card1 > .text_wrapp {
    padding-top: 20%;
    padding-left: 5%;
    width: 85%;
  }
  .card2 > .text_wrapp {
    padding-top: 20%;
    padding-left: 20%;
    width: 80%;
  }
  .card3 > .text_wrapp {
    padding-top: 20%;
    padding-left: 5%;
    width: 88%;
  }
  .back_star {
    height: 70%;
  }
}

@media (max-width: 410px) {
  .cards_wrapp {
    margin-bottom: -40%;
  }
  .card1 > .text_wrapp {
    padding-top: 25%;
    padding-left: 5%;
    width: 90%;
  }
  .card2 > .text_wrapp {
    padding-top: 23%;
    padding-left: 15%;
    width: 85%;
  }
  .card3 > .text_wrapp {
    padding-top: 23%;
    padding-left: 5%;
    width: 95%;
  }
}
@media (max-width: 370px) {
  .card1 > .text_wrapp {
    padding-top: 32%;
    padding-left: 5%;
    width: 92%;
  }
  .card2 > .text_wrapp {
    padding-top: 28%;
    padding-left: 10%;
    width: 91%;
  }
  .card3 > .text_wrapp {
    padding-top: 26%;
    padding-left: 5%;
    width: 95%;
  }
}
@media (max-width: 340px) {
  .card1 > .text_wrapp {
    padding-top: 36%;
    padding-left: 5%;
    width: 92%;
  }
  .cards_wrapp {
    margin-bottom: -65%;
  }
  .ql {
    letter-spacing: -2.5px;
  }
  .card2 > .text_wrapp {
    padding-top: 33%;
    padding-left: 10%;
    width: 91%;
  }
  .card3 > .text_wrapp {
    padding-top: 32%;
    padding-left: 5%;
    width: 95%;
  }
  .card2,
  .card3 {
    margin-top: -20%;
  }
}
