.wrapp {
  padding-top: 10%;
}
.ql {
  color: #ffffff;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  background-position: center center;
  margin-bottom: 3%;
}
.text_under_ql {
  color: #ffffff;
  font-size: 20px;
  font-weight: 500;
  background-position: center center;
}
.images {
  padding-left: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mbag {
  height: 150px;
  position: absolute;
  padding-right: 1%;
  animation: pulse 2s ease-in-out infinite;
}

@keyframes pulse {
  from {
    transform: scale(0.85);
  }
  50% {
    transform: scale(1);
  }
  to {
    transform: scale(0.85);
  }
}
.star {
  height: 300px;
  z-index: -1;
  position: absolute;
  animation: animate 17s linear infinite;
}
@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.cards_wrapp {
  display: flex;
  flex-direction: row;
  padding-top: 7%;
}
.card1 {
  background-image: url("./img/card1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  /* width: auto;
    height: 100%; */
}
.card2 {
  background-image: url("./img/card2.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.card3 {
  background-image: url("./img/card3.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
