.grid_c {
  flex-direction: row;
  padding-top: 10%;
}
.hi_text {
  color: #ffffff;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 45px;
}
.desc {
  padding: 5% 0%;
  color: #80c954;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
}
.content {
  color: #ffffff;
  font-size: 20px;
}
.under_content {
  padding: 5% 0%;
  color: #ffffff;
  font-size: 20px;
}
.rect {
  background-image: url("./img/rect.png");
  background-size: 65% 100%;
  background-repeat: no-repeat;
  background-position: start center;
  padding: 8%;
  padding-right: 35%;
  position: relative;
}
.point {
  font-size: 20px;
  display: flex;
}
.marker {
  height: 20px;
  padding-top: 4px;
  padding-right: 10px;
}
.yougot {
  font-size: 20px;
  font-weight: 600;
}
.grid_images {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.liliya {
  position: absolute;
  z-index: -3;
  height: 110%;
}
.mbag_wrapp {
  display: flex;
  padding-top: 10%;
  justify-content: center;
}
.mbag {
  height: 17%;
  animation: animate 1.7s linear infinite;
}
@keyframes animate {
  0% {
    transform: rotate(-30deg);
  }
  50% {
    transform: rotate(20deg);
  }
  100% {
    transform: rotate(-30deg);
  }
}
.text_wrapp {
  border-radius: 17px;
  background-color: #ffffff;
  transform: rotate(5deg);
  padding: 5% 6%;
}
.text {
  font-size: 23px;
  font-weight: 500;
  line-height: 120%;
}

/*/////////////////////////////////////////////////////////////////*/
@media (max-width: 1411px) {
  .liliya {
    height: 105%;
  }
}
@media (max-width: 1352px) {
  .mbag_wrapp {
    padding-top: 5%;
  }
}
@media (max-width: 1348px) {
  .liliya {
    height: 100%;
  }
}
@media (max-width: 1305px) {
  .rect {
    padding-right: 36%;
  }
  .liliya {
    height: 90%;
  }
  .grid_images {
    padding-bottom: 10%;
  }
}
@media (max-width: 1281px) {
  .rect {
    padding-right: 37%;
  }
}
@media (max-width: 1215px) {
  .liliya {
    height: 105%;
  }
  .text {
    font-size: 20px;
  }
  .hi_text {
    font-size: 35px;
    line-height: 120%;
  }
  .desc {
    font-size: 17px;
  }
  .content {
    font-size: 17px;
  }
  .under_content {
    font-size: 17px;
  }
  .point {
    font-size: 17px;
  }
  .marker {
    height: 17px;
    padding-top: 1.1%;
    padding-right: 3%;
  }
  .yougot {
    font-size: 17px;
  }
}
@media (max-width: 1167px) {
  .liliya {
    height: 90%;
  }
  .grid_images {
    padding-bottom: 15%;
  }
}
@media (max-width: 1041px) {
  .liliya {
    height: 90%;
  }
  .grid_images {
    padding-bottom: 10%;
  }
  .mbag {
    height: 13%;
  }
  .text {
    font-size: 20px;
  }
  .hi_text {
    font-size: 35px;
    line-height: 120%;
  }
  .point,
  .yougot,
  .under_content,
  .content,
  .desc {
    font-size: 16px;
  }
  .marker {
    height: 17px;
  }
}
@media (max-width: 1015px) {
  .rect {
    padding-right: 33%;
    background-size: 67% 100%;
  }
}
@media (max-width: 969px) {
  .rect {
    padding-right: 35%;
    background-size: 70% 100%;
  }
  .liliya {
    height: 87%;
  }
  .mbag {
    height: 10%;
  }
  .grid_images {
    padding-bottom: 15%;
  }
}

/*      MOBILE VIEW       */

@media (max-width: 957px) {
  .grid_c {
    flex-direction: column;
    padding-top: 100px;
  }
  .liliya {
    position: relative;
    height: 900px;
  }
  .grid_images {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: -10%;
  }
  .text_wrapp {
    padding: 5% 6%;
    margin-top: -20%;
  }
  .text {
    font-size: 30px;
  }
  .hi_text {
    font-size: 40px;
    line-height: 120%;
  }
  .desc {
    font-size: 25px;
  }
  .point,
  .yougot,
  .under_content,
  .content {
    font-size: 20px;
  }
  .marker {
    height: 20px;
    padding-top: 1.1%;
    padding-right: 3%;
  }
  .rect {
    margin-top: 7%;
    padding-right: 45%;
    background-size: 55% 100%;
  }
  .mbag_wrapp {
    position: relative;
    padding-top: 0%;
  }
  .mbag {
    position: absolute;
    top: 25%;
    right: 0%;
    height: 60%;
  }
}
@media (max-width: 876px) {
  .liliya {
    height: 900px;
  }
}
@media (max-width: 794px) {
  .rect {
    padding-right: 46%;
  }
}
@media (max-width: 788px) {
  .rect {
    padding-right: 50%;
  }
}
@media (max-width: 747px) {
  .rect {
    margin-top: 7%;
    padding-right: 45%;
    background-size: 60% 100%;
  }
  .mbag {
    top: 25%;
    height: 50%;
  }
  .text {
    font-size: 25px;
  }
}
@media (max-width: 710px) {
  .rect {
    padding-right: 40%;
  }
}
@media (max-width: 679px) {
  .mbag {
    top: 25%;
    height: 45%;
    /* right: 0; */
  }
  .liliya {
    height: 850px;
  }
}
@media (max-width: 666px) {
  .rect {
    padding-right: 40%;
    background-size: 65% 100%;
  }
}
@media (max-width: 641px) {
  .mbag {
    top: 25%;
    height: 45%;
    /* right: 0; */
  }
  .liliya {
    height: 800px;
  }
}
@media (max-width: 624px) {
  .mbag {
    top: 25%;
    height: 35%;
  }
  .rect {
    padding-right: 32%;
    background-size: 70% 100%;
  }
}
@media (max-width: 608px) {
  .liliya {
    height: 750px;
  }
}
@media (max-width: 569px) {
  .liliya {
    height: 700px;
  }
}
@media (max-width: 560px) {
  .mbag {
    top: 25%;
    height: 35%;
  }
  .rect {
    padding-right: 27%;
    background-size: 75% 100%;
  }
}
@media (max-width: 532px) {
  .liliya {
    height: 650px;
  }
  .mbag {
    top: 0;
    height: 30%;
  }
  .rect {
    margin-top: 15%;
    padding: 15% 5% 15% 10%;
    background-size: 100% 100%;
  }
  .text {
    font-size: 20px;
  }
}
@media (max-width: 495px) {
  .liliya {
    height: 550px;
  }
  .hi_text {
    font-size: 30px;
    line-height: 120%;
  }
  .desc {
    font-size: 20px;
    line-height: 120%;
  }
  .point,
  .yougot,
  .under_content,
  .content {
    font-size: 20px;
    line-height: 120%;
  }
}
@media (max-width: 419px) {
  .liliya {
    height: 450px;
  }
}
@media (max-width: 395px) {
  .rect {
    margin-top: 15%;
    padding: 15% 5% 15% 10%;
    background-size: 100% 100%;
  }
  .point,
  .yougot {
    font-size: 17px;
    line-height: 120%;
  }
  .marker {
    height: 17px;
  }
}
@media (max-width: 371px) {
  .liliya {
    height: 400px;
  }
  .text {
    font-size: 20px;
    font-weight: 500;
  }
}
@media (max-width: 350px) {
  .rect {
    padding: 15% 3% 15% 7%;
  }
}
