.wrapp {
  padding-top: 5%;
}
.title {
  color: #ffffff;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 2.5%;
}
.rect_wrapp {
  position: relative;
  height: 200px;
}
.rect {
  border-width: 4px;
  border-radius: 27px;
  background-color: #ffffff;
  border-color: #a6c954;
  border-style: solid;
  padding: 3%;
}
.content_t {
  color: #000000;
  font-size: 20px;
}
.image {
  position: absolute;
  height: 100px;
}
#hand {
  top: 65%;
  left: 25%;
  animation: pulse 2s ease-in-out infinite;
  height: 130px;
}
@keyframes pulse {
  from {
    transform: scale(0.85);
  }
  50% {
    transform: scale(1);
  }
  to {
    transform: scale(0.85);
  }
}
#shoe {
  animation: animate 3s linear infinite;
  top: 130px;
  right: 130px;
}
@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(30deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
#apple {
  animation: animate 1.5s linear infinite;
  top: 50%;
  left: 25%;
}
#mbag {
  top: 60%;
  right: 12%;
  animation: pulse 2s ease-in-out infinite;
  height: 130px;
}
svg {
  position: absolute;
  z-index: 20;
  width: 100%;
  height: 100%;
}
#svg1 {
  top: 40%;
  right: 2%;
}
#svg2 {
  top: 0%;
  right: 2%;
}
#svg3 {
  top: 0%;
  right: 2%;
}
#svg4 {
  top: 0%;
  right: 2%;
}
#svg5 {
  top: 0%;
}
#rect1 {
  padding-right: 580px;
  transform: rotate(2deg);
  width: 650px;
}
#rect2 {
  padding-left: 700px;
  transform: rotate(357deg);
  padding-top: 20px;
  width: 400px;
}
#rect3 {
  padding-right: 60%;
  transform: rotate(3deg);
  padding-top: 20px;
  width: 500px;
}
#rect4 {
  padding-top: 20px;
  padding-left: 560px;
  transform: rotate(357deg);
  width: 650px;
}
#rect5 {
  padding-right: 300px;
  padding-top: 20px;
  transform: rotate(2deg);
}

/*/////////////////////////*/
@media (max-width: 1380px) {
  #rect4 {
    width: 600px;
  }
}
@media (max-width: 1352px) {
  .content_t {
    font-size: 17px;
  }
  #hand {
    top: 50%;
    height: 120px;
  }
  #apple {
    top: 40%;
    height: 90px;
  }
  #mbag {
    top: 55%;
    height: 120px;
  }
  #shoe {
    top: 110px;
    height: 90px;
  }
  #rect4 {
    width: 550px;
  }
}
@media (max-width: 1260px) {
  .content_t {
    font-size: 15px;
  }
  #mbag {
    top: 55%;
    height: 120px;
  }
  #shoe {
    top: 120px;
    right: 80px;
  }
  #rect4 {
    width: 450px;
  }
  #rect2 {
    width: 300px;
  }
  #rect2 > .rect {
    padding: 5%;
  }
}
@media (max-width: 1152px) {
  #rect1 {
    padding-right: 580px;
    width: 550px;
  }
  #rect2 {
    padding-left: 500px;
    width: 400px;
  }
  #rect3 {
    padding-right: 60%;
    width: 450px;
  }
  #rect4 {
    padding-left: 400px;
    width: 500px;
  }
  #rect5 {
    padding-right: 300px;
  }
}
@media (max-width: 1065px) {
  #rect2 {
    width: 39%;
  }
  #rect4 {
    width: 53%;
  }
}

/*    TABLET VIEW   */
@media (max-width: 956px) {
  #svg1,
  #svg2,
  #svg3,
  #svg4,
  #svg5 {
    display: none;
  }
  .content_t {
    font-size: 17px;
  }
  .rect {
    padding: 5%;
  }
  #rect1 {
    padding-top: 5%;
    padding-right: 0;
    padding-bottom: 2%;
    width: 100%;
  }
  #rect2 {
    padding-left: 0;
    width: 70%;
    padding-top: 0%;
  }
  #rect3 {
    padding-top: 0%;
    padding-right: 0%;
    padding-left: 35%;
    width: 65%;
  }
  #rect4 {
    padding-left: 0;
    width: 100%;
    padding-bottom: 5%;
  }
  #rect5 {
    padding-right: 0;
  }
  #hand {
    top: -10%;
    left: 90%;
    height: 35%;
  }
  #apple {
    top: 0%;
    left: 15%;
    height: 45%;
  }
  #mbag {
    top: 50%;
    right: 3%;
    height: 40%;
  }
  #shoe {
    top: 5%;
    left: 115%;
    height: 40%;
  }
}
@media (max-width: 650px) {
  .title {
    font-size: 37px;
  }
  .rect_wrapp {
    height: 170px;
  }
  .content_t {
    font-size: 15px;
  }
  #rect2 {
    padding-left: 10%;
    width: 90%;
    padding-top: 0%;
  }
  #rect3 {
    padding-top: 0%;
    padding-right: 10%;
    padding-left: 0%;
    width: 90%;
    margin: -5% 0%;
  }
  #rect4 {
    padding-left: 0;
    width: 100%;
    padding-bottom: 0%;
  }
  #rect5 {
    padding-right: 0;
    margin-top: -3%;
  }
  #hand {
    top: -10%;
    left: 90%;
    height: 35%;
  }
  #apple {
    top: -10%;
    left: 90%;
    height: 37%;
  }
  #mbag {
    top: -10%;
    left: 0%;
    height: 35%;
  }
  #shoe {
    top: -20%;
    left: 2%;
    height: 30%;
    z-index: 2;
  }
}
@media (max-width: 570px) {
  #rect1{
    padding-bottom: 5%;
  }
}
@media (max-width: 515px) {
  .title {
    font-size: 30px;
    margin-bottom: 5%;
  }
  /* .rect_wrapp {
    height: 170px;
  } */
  #rect1,
  #rect2,
  #rect3,
  #rect4,
  #rect5 {
    width: 100%;
    padding: 0%;
    margin: 0%;
  }
  #rect1 {
    margin-bottom: 10%;
  }
  #rect3 {
    margin: -3% 0%;
  }
  #hand {
    top: -10%;
    left: 90%;
    height: 35%;
  }
  #apple {
    top: 70%;
    left: 90%;
    height: 37%;
  }
  #mbag {
    top: -20%;
    left: 0%;
    height: 35%;
  }
  #shoe {
    top: -20%;
    left: 2%;
    height: 30%;
    z-index: 2;
  }
}
@media (max-width: 437px) {
  #rect4{
    padding-bottom: 5%;
  }
}

@media (max-width: 429px) {
  #rect5 {
    padding-top: 5%;
  }
}
@media (max-width: 415px) {
  .title {
    font-size: 25px;
    margin-bottom: 5%;
  }  #shoe {
    top: -20%;
    left: 0%;
    height: 25%;
  }
  #apple {
    top: 75%;
    left: 85%;
    height: 35%;
  }
}
@media (max-width: 399px) {
  #rect1{
    padding-bottom: 7%;
  }
  #mbag {
    top: -25%;
    left: 0%;
    height: 35%;
  }
}
