.wrapp {
  padding-top: 5%;
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10%;
}
.title {
  color: #ffffff;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 2.5%;
}
.rect_wrapp {
  position: relative;
  height: 200px;
}
.rect {
  border-width: 4px;
  border-radius: 27px;
  background-color: #ffffff;
  border-color: #a6c954;
  border-style: solid;
  padding: 3%;
}
.content_t {
  color: #000000;
  font-size: 20px;
}
.image {
  position: absolute;
  height: 40%;
}
#hand {
  top: 100%;
  left: 25%;
  animation: pulse 2s ease-in-out infinite;
  height: 50%;
}
@keyframes pulse {
  from {
    transform: scale(0.85);
  }
  50% {
    transform: scale(1);
  }
  to {
    transform: scale(0.85);
  }
}
#shoe {
  animation: animate 3s linear infinite;
  top: 60%;
  right: 0%;
}
@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(30deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
#apple {
  animation: animate 1.5s linear infinite;
  top: 70%;
  left: 25%;
}
#mbag {
  top: 80%;
  right: 12%;
  animation: pulse 2s ease-in-out infinite;
  height: 55%;
}
.svg {
  position: absolute;
  z-index: 2;
}
#rect1 {
  padding-right: 40%;
  transform: rotate(2deg);
}
#rect2 {
  padding-left: 60%;
  transform: rotate(357deg);
}
#rect3 {
  padding-right: 60%;
  transform: rotate(3deg);
}
#rect4 {
  padding-left: 50%;
  transform: rotate(357deg);
}
#rect5 {
  padding-right: 30%;
  transform: rotate(2deg);
}

/*/////////////////////////*/
@media (width>=1440px) or (width<1470) {
  .rect {
    margin-top: 5%;
  }
}

@media (width>=1470px) or (width<1530) {
  .rect {
    margin-top: 7%;
  }
}
@media (width>=1530px) or (width<1550) {
  .rect {
    margin-top: 10%;
  }
}
@media (max-width<=1440px) {
  .rect {
    margin-top: 5%;
  }
}
@media (max-width: 1370px) {
  #shoe {
    top: 50%;
  }
  #rect4 {
    margin-top: -2%;
  }
}
@media (max-width: 1348px) {
  #rect3 {
    margin-top: -1%;
  }
  #hand {
    top: 72%;
  }
}
@media (max-width: 1327px) {
  #rect2 {
    margin-top: -1%;
  }
}
@media (max-width: 1300px) {
  #rect4 {
    margin-top: -3%;
  }
}
@media (max-width: 1288px) {
  #rect5 {
    margin-top: -2%;
  }
}
@media (max-width: 1270px) {
  #rect3 {
    margin-top: -3%;
  }
}
@media (max-width: 1237px) {
  #rect5,
  #rect2,
  #rect3,
  #rect4 {
    margin-top: 0%;
  }
  #shoe {
    top: 60%;
  }
  #apple {
    top: 60%;
  }
  #mbag {
    top: 60%;
    right: 0%;
  }
}
@media (max-width: 1198px) {
  #rect4 {
    margin-top: -2%;
  }
}
@media (max-width: 1185px) {
  #rect2 {
    margin-top: -1%;
  }
}
@media (max-width: 1166px) {
  #rect4 {
    margin-top: -3%;
  }
}
@media (max-width: 1147px) {
  #rect3 {
    margin-top: -1%;
  }
  #rect5 {
    padding-right: 20%;
  }
}
@media (max-width: 1137px) {
  #rect3 {
    margin-top: -2%;
  }
  #hand {
    top: 90%;
  }
}
@media (max-width: 1127px) {
  #rect5,
  #rect2,
  #rect3,
  #rect4 {
    margin-top: 0%;
  }
  #rect5 {
    padding-top: 5%;
  }
  #rect2 {
    padding-top: 5%;
    padding-left: 50%;
  }
}
@media (max-width: 1092px) {
  #rect3 {
    margin-top: -2%;
  }
}
@media (max-width: 1067px) {
  #rect4 {
    margin-top: -2.5%;
  }
}
@media (max-width: 1040px) {
  #rect2 {
    margin-top: -2%;
  }
}
@media (max-width: 1014px) {
  #rect4 {
    margin-top: -4%;
  }
  #rect5 {
    margin-top: -3%;
  }
  #shoe {
    top: 60%;
    /* left: 115%; */
    height: 30%;
  }
}
@media (max-width: 998px) {
  #rect2 {
    margin-top: -4%;
  }
}
@media (max-width: 984px) {
  #rect2 {
    margin-top: 0%;
    padding-top: 10%;
    padding-left: 40%;
  }
  #shoe {
    top: 70%;
  }
  #rect3 {
    padding-right: 50%;
  }
  #rect4 {
    padding-left: 40%;
  }
}

/*    TABLET VIEW   */
@media (max-width: 956px) {
  #svg1,
  #svg2,
  #svg3,
  #svg4,
  #svg5 {
    display: none;
  }
  .content_t {
    font-size: 17px;
  }
  .rect {
    padding: 5%;
  }
  #rect1 {
    padding-top: 5%;
    padding-right: 0;
    padding-bottom: 2%;
    width: 100%;
  }
  #rect2 {
    padding-left: 20%;
    padding-right: 0%;
    padding-top: 5%;
  }
  #shoe {
    top: 0%;
    left: 0%;
    height: 40%;
  }
  #rect3 {
    padding-top: 0%;
    padding-left: 0%;
    padding-right: 20%;
  }
  #apple {
    top: 0%;
    left: 90%;
    height: 50%;
  }
  #mbag {
    top: -35%;
    left: 10%;
    height: 40%;
  }
  #rect4 {
    padding-left: 0;
    width: 100%;
    padding-bottom: 5%;
  }
  #rect5,
  #rect2,
  #rect3,
  #rect4 {
    margin-top: 0%;
  }
  #rect5 {
    margin-top: -2%;
    padding-right: 0;
  }
  #hand {
    top: -10%;
    left: 90%;
    height: 35%;
  }
}
@media (max-width: 685px) {
  #hand {
    top: -10%;
    left: 90%;
    height: 35%;
  }
  #apple {
    top: 0%;
    left: 90%;
    height: 40%;
  }
  #mbag {
    top: -25%;
    left: 0%;
    height: 40%;
  }
  #shoe {
    top: 0%;
    left: 0%;
    height: 35%;
  }
}
@media (max-width: 651px) {
  .title {
    font-size: 35px;
  }
  #mbag {
    top: -25%;
    left: 0%;
    height: 35%;
  }
  #apple {
    top: -25%;
    left: 90%;
    height: 35%;
  }
  #rect3 {
    padding-right: 0%;
  }
}
@media (max-width: 622px) {
  #rect1 {
    padding-bottom: 5%;
  }
}
@media (max-width: 577px) {
  #rect4 {
    padding-top: 0%;
  }
  #mbag,
  #apple {
    top: -25%;
  }
}
@media (max-width: 515px) {
  .title {
    font-size: 30px;
    margin-bottom: 5%;
  }
}
@media (max-width: 500px) {
  #apple {
    left: 90%;
  }
  #shoe,
  #apple,
  #mbag,
  #hand {
    height: 25%;
  }
}
@media (max-width: 477px) {
  #rect1 {
    padding-bottom: 11%;
  }
  .wrapp {
    margin-bottom: 20%;
  }
}
@media (max-width: 436px) {
  #rect2 {
    padding-left: 0%;
  }
  #shoe {
    top: -15%;
  }
  #rect1 {
    padding-bottom: 15%;
  }
}
@media (max-width: 393px) {
  #rect1 {
    padding-bottom: 25%;
  }
}
@media (max-width: 378px) {
  #rect1 {
    padding-bottom: 30%;
  }
  #rect3 {
    margin-top: -5%;
  }
  #rect4 {
    padding-bottom: 25%;
  }
}
@media (max-width: 334px) {
  #rect5 {
    padding-bottom: 20%;
  }
}
