.wrapp {
  padding-top: 5%;
}
.title {
  color: #ffffff;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 2.5%;
}
.rect_wrapp {
  position: relative;
  height: 200px;
  /* margin-bottom: 7%; */
}
.rect {
  border-width: 4px;
  border-radius: 27px;
  background-color: #ffffff;
  border-color: #a6c954;
  border-style: solid;
  padding: 3%;
}
.content_t {
  color: #000000;
  font-size: 20px;
}
.image {
  position: absolute;
  height: 100px;
}
#hand {
  top: 75%;
  left: 25%;
  animation: pulse 2s ease-in-out infinite;
  height: 130px;
}
@keyframes pulse {
  from {
    transform: scale(0.85);
  }
  50% {
    transform: scale(1);
  }
  to {
    transform: scale(0.85);
  }
}
#shoe {
  animation: animate 3s linear infinite;
  top: 80%;
  right: 15%;
}
@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(30deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
#apple {
  animation: animate 1.5s linear infinite;
  top: 80%;
  left: 25%;
}
#mbag {
  top: 75%;
  right: 12%;
  animation: pulse 2s ease-in-out infinite;
  height: 130px;
}
svg {
  position: absolute;
  z-index: 20;
  width: 100%;
  height: 100%;
}
#svg1 {
  top: 40%;
  right: 2%;
  /* height: 110%; */
}
#svg2 {
  top: 0%;
  right: 2%;
  /* height: 160%; */
}
#svg3 {
  top: 0%;
  right: 2%;
  /* height: 160%; */
}
#svg4 {
  top: 0%;
  right: 2%;
  /* height: 160%; */
}
#svg5 {
  top: 0%;
  /* right: 2%; */
  /* height: 100%; */
}
