.wrapp {
  padding-top: 7%;
}
.lines {
  position: absolute;
}
.backr {
  background-image: url("./img/backgr.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 30px;
  padding: 5% 2%;
  position: relative;
}
.backr:before {
  content: "";
  border-radius: 30px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.grid {
  display: flex;
  flex-direction: column;
  align-content: center;
}
.title {
  color: #ffffff;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  position: relative;
}
.cards_wrapp {
  padding: 7% 7% 0%;
  display: flex;
  justify-content: space-between;
}
.card_wrapp {
  border-width: 4px;
  border-radius: 15px;
  width: 150px;
  background-color: #ffffff;
  border-color: #a6c954;
  border-style: solid;
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.card_t {
  font-size: 20px;
  text-align: center;
}
.image {
  height: 60px;
  width: 60px;
}
#card1 {
  transform: rotate(5deg);
}
#card2 {
  transform: rotate(-5deg);
}
#card3 {
  transform: rotate(5deg);
}

/*///////////////////////////////////////*/
@media (max-width: 1473px) {
  .card_wrapp {
    width: 140px;
  }
}
@media (max-width: 1371px) {
  .card_wrapp {
    width: 130px;
  }
}
@media (max-width: 1352px) {
  .title {
    font-size: 35px;
    font-weight: 700;
  }
}
@media (max-width: 1308px) {
  .card_wrapp {
    width: 120px;
    height: 120px;
  }
}
@media (max-width: 1183px) {
  .card_wrapp {
    margin-top: 8%;
  }
}

/*            TABLET VIEW                 */
@media (max-width: 957px) {
  .card3_grid_wr {
    padding-top: 7%;
    display: flex;
    justify-content: center;
  }
  .wrapp {
    padding-top: 0%;
  }
  .cards_wrapp {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    position: relative;
  }
  .card_wrapp {
    width: 150px;
    padding: 30px 20px;
  }
  .backr {
    background-size: 100% 100%;
    border-radius: 35px;
    padding: 5% 5%;
  }
}
@media (max-width: 843px) {
  .backr {
    border-radius: 25px;
    padding: 5% 3%;
    background-size: cover;
  }
  .backr:before {
    border-radius: 25px;
  }
  .title {
    font-size: 35px;
    font-weight: 600;
  }
}
@media (max-width: 811px) {
  .card3_grid_wr {
    padding-right: 1%;
  }
}
@media (max-width: 738px) {
  .card3_grid_wr {
    padding-right: 3%;
  }
}
@media (max-width: 719px) {
  .card3_grid_wr {
    padding-right: 4%;
  }
  .title {
    font-size: 30px;
  }
  .backr {
    padding: 5% 5%;
  }
}
@media (max-width: 660px) {
  .card3_grid_wr {
    padding-right: 6%;
  }
}
@media (max-width: 635px) {
  .card3_grid_wr {
    padding-right: 8%;
  }
  .card_wrapp {
    width: 120px;
    margin-top: 13%;
  }
}
@media (max-width: 600px) {
  .card3_grid_wr {
    padding-right: 10%;
  }
  .title {
    font-size: 28px;
    line-height: 120%;
  }
}
@media (max-width: 568px) {
  .card3_grid_wr {
    padding-right: 14%;
  }
}
@media (max-width: 540px) {
  .card3_grid_wr {
    padding-right: 9%;
  }
  .card_wrapp {
    width: 100px;
    height: 110px;
  }
  .card_t {
    font-size: 17px;
    line-height: 120%;
  }
  .backr {
    padding: 6%;
  }
}
@media (max-width: 520px) {
  .card3_grid_wr {
    padding-right: 12%;
  }
}
@media (max-width: 510px) {
  .title {
    font-size: 25px;
  }
  .card3_grid_wr {
    padding-top: 4%;
  }
}
@media (max-width: 480px) {
  .card3_grid_wr {
    padding-right: 9%;
  }
  .card_wrapp {
    width: 90px;
    height: 80px;
  }
  .card_t {
    font-size: 17px;
    line-height: 88%;
  }
  .backr {
    padding: 6%;
    border-radius: 20px;
  }
  .backr:before {
    border-radius: 20px;
  }
}
@media (max-width: 453px) {
  .card3_grid_wr {
    padding-right: 13%;
  }
}
@media (max-width: 437px) {
  .card3_grid_wr {
    padding-right: 7%;
  }
  .card_wrapp {
    width: 80px;
    height: 80px;
    padding: 10px 15px;
    padding-bottom: 40px;
  }
  .title {
    font-size: 23px;
  }
}
@media (max-width: 410px) {
  .card3_grid_wr {
    padding-right: 10%;
  }
  .title {
    font-size: 20px;
  }
}
@media (max-width: 381px) {
  .card3_grid_wr {
    padding-right: 0%;
    justify-content: flex-start;
    padding-top: 0;
  }
  .card_wrapp {
    width: 90px;
    border-width: 3px;
  }
  .card2_grid_wr {
    padding-top: 0%;
    display: flex;
    justify-content: flex-end;
    margin-top: -1%;
  }
}
@media (max-width: 376px) {
  .card3_grid_wr,
  .card2_grid_wr {
    margin-top: -1%;
  }
}
@media (max-width: 371px) {
  .card3_grid_wr,
  .card2_grid_wr {
    margin-top: -2%;
  }
}
@media (max-width: 368px) {
  .card3_grid_wr,
  .card2_grid_wr {
    margin-top: -3%;
  }
}
@media (max-width: 362px) {
  .card3_grid_wr,
  .card2_grid_wr {
    margin-top: -4%;
  }
}
@media (max-width: 355px) {
  .card3_grid_wr,
  .card2_grid_wr {
    margin-top: -5%;
  }
}
@media (max-width: 349px) {
  .card3_grid_wr,
  .card2_grid_wr {
    margin-top: -6%;
  }
}
@media (max-width: 343px) {
  .card3_grid_wr,
  .card2_grid_wr {
    margin-top: -7%;
  }
}
@media (max-width: 338px) {
  .card3_grid_wr,
  .card2_grid_wr {
    margin-top: -8.5%;
  }
}
@media (max-width: 337px) {
  .card3_grid_wr,
  .card2_grid_wr {
    margin-top: 0%;
  }
}
@media (max-width: 328px) {
  .card3_grid_wr,
  .card2_grid_wr {
    margin-top: -2%;
  }
}
@media (max-width: 321px) {
  .card3_grid_wr,
  .card2_grid_wr {
    margin-top: -4%;
  }
}
