.wrapp {
  padding-top: 100px;
}
.backr {
  background-image: url("./img/backgr.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 35px;
  padding: 60px 30px;
  position: relative;
}
.backr:before {
  content: "";
  border-radius: 35px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}
.title {
  color: #ffffff;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  position: relative;
}
@media (max-width: 1352px) {
  .title {
    font-size: 30px;
    font-weight: 700;
  }
  /* .backr {
    background-size: 50% 100%;
    border-radius: 35px;
    padding: 60px 30px;
  } */
}
.cards_wrapp {
  padding: 80px 120px 0px;
  display: flex;
  /* justify-content: space-between; */
  position: relative;
  /* align-items: center; */
}
.card_wrapp {
  margin-top: 20px;
  border-width: 4px;
  border-radius: 15px;
  width: 150px;
  background-color: #ffffff;
  background-position: center center;
  border-color: #a6c954;
  border-style: solid;
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card_t {
  padding-top: 15px;
  font-size: 20px;
  text-align: center;
}
.image {
  height: 40px;
  border-radius: 50%;
  border-width: 3px;
  border-color: #a6c954;
  border-style: solid;
  padding: 2%;
}
@media (max-width: 1352px) {
  .title {
    font-size: 30px;
    font-weight: 700;
  }
  .card_t {
    padding-top: 15px;
    font-size: 17px;
    text-align: center;
  }
}
