.learn {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 20px;
}
.ql {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 90px;
  color: white;
  letter-spacing: -4px;
  text-wrap: nowrap;
}
.become {
  font-weight: 600;
  color: white;
  font-size: 30px;
}
.transf_wrapp {
  margin: 5% 0%;
  border-radius: 22px;
  background-color: #222222;
  background-position: center center;
  border-color: transparent;
  padding: 5%;
}
.transf_game {
  font-weight: 500;
  color: white;
  font-size: 20px;
}
.butt {
  color: #ffffff;
  font-size: 20px;
  padding: 4% 12%;
  font-weight: 600;
  border-width: 3px;
  border-radius: 50px;
  background-image: linear-gradient(
    0.35168578748975493turn,
    rgba(128, 201, 84, 1) 0%,
    rgba(57, 122, 55, 1) 100%
  );
  border-color: #ffffff;
  border-style: solid;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out,
    border-color 0.2s ease-in-out;
  text-wrap: nowrap;
  align-items: center;
}
.arrow {
  margin-left: 4%;
  height: 30px;
}
.game {
  width: 100%;
}
.text_circle {
  top: 198px;
  right: 36px;
  height: 300px;
  z-index: -1;
  position: absolute;
  animation: animate 17s linear infinite;
}
@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.menu_butt {
  position: absolute;
  cursor: pointer;
  border-radius: 50%;
  background-color: #80c954;
  top: 0px;
  left: 570px;
  height: 70px;
  width: 70px;
  z-index: 0;
}
