.learn {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 20px;
}
.ql {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 90px;
  color: white;
  letter-spacing: -4px;
  text-wrap: nowrap;
  /* text-wrap: wrap; */
}
.become {
  font-weight: 600;
  color: white;
  font-size: 30px;
}
.transf_wrapp {
  margin: 5% 0%;
  border-radius: 22px;
  background-color: #222222;
  background-position: center center;
  border-color: transparent;
  padding: 5%;
}

.transf_game {
  font-weight: 500;
  color: white;
  font-size: 20px;
}
.butt {
  color: #ffffff;
  font-size: 20px;
  padding: 4% 12%;
  font-weight: 600;
  border-width: 3px;
  border-radius: 50px;
  background-image: linear-gradient(
    0.35168578748975493turn,
    rgba(128, 201, 84, 1) 0%,
    rgba(57, 122, 55, 1) 100%
  );
  border-color: #ffffff;
  border-style: solid;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out,
    border-color 0.2s ease-in-out;
  text-wrap: nowrap;
  align-items: center;
}
.arrow {
  margin-left: 4%;
  height: 30px;
}
@media (max-width: 1380px) {
  .ql {
    font-size: 85px;
  }
}
@media (max-width: 1295px) {
  .ql {
    font-size: 80px;
  }
}
@media (max-width: 1191px) {
  .ql {
    line-height: 130%;
  }
  .butt {
    font-size: 15px;
    padding: 4% 12%;
    border-width: 3px;
    border-radius: 50px;
  }
  .arrow {
    margin-left: 4%;
    height: 23px;
  }

  .become {
    font-size: 25px;
  }
}
@media (max-width: 1064px) {
  .ql {
    font-size: 70px;
    line-height: 120%;
  }
  .butt {
    padding: 3.5% 10%;
    border-width: 2px;
  }
  .become {
    font-size: 20px;
  }
}

.game {
  width: 100%;
}
.text_circle {
  top: 40%;
  right: 7%;
  height: 300px;
  z-index: -1;
  position: absolute;
  animation: animate 17s linear infinite;
}
@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.game_wrapp {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
@media (width> 1690px) {
  .text_circle {
    top: 30%;
  }
}
@media (width> 2200px) {
  .text_circle {
    top: 25%;
    right: 10%;
    height: 50%;
  }
  .game {
    width: 90%;
  }
}
@media (max-width: 1400px) {
  .text_circle {
    top: 27%;
    right: 5%;
    height: 300px;
  }
}

@media (max-width: 1260px) {
  .text_circle {
    top: 30%;
    right: 0%;
    height: 300px;
  }
  .ql {
    font-size: 75px;
  }
  .become {
    font-size: 26px;
  }
}
@media (max-width: 1127px) {
  .ql {
    font-size: 65px;
  }
}
@media (max-width: 1183px) {
  .text_circle {
    top: 35%;
    right: 5%;
    height: 260px;
  }
}
@media (max-width: 1124px) {
  .text_circle {
    top: 30%;
  }
}
@media (max-width: 1077px) {
  .text_circle {
    top: 27%;
    right: 0%;
  }
}
@media (max-width: 1064px) {
  .text_circle {
    top: 20%;
    right: 10%;
    height: 200px;
  }
  .game {
    width: 80%;
  }
}
@media (max-width: 1000px) {
  .ql {
    font-size: 64px;
  }
  .text_circle {
    right: 7%;
    top: 22%;
  }
}

.menu_butt {
  position: absolute;
  cursor: pointer;
  border-radius: 50%;
  background-color: #80c954;
  top: 0px;
  left: 100%;
  height: 40px;
  width: 40px;
  z-index: 0;
}
@media (max-width: 1338px) {
  .menu_butt {
    left: 100%;
  }
}
@media (max-width: 1300px) {
  .menu_butt {
    left: 100%;
  }
}
@media (max-width: 1077px) {
  .menu_butt {
    left: 100%;
  }
}
@media (max-width: 1000px) {
  .menu_butt {
    left: 100%;
  }
}

@media (max-width: 957px) {
  .game {
    width: 90%;
  }
  .text_circle {
    top: 15%;
    right: 0%;
    height: 250px;
  }
  .menu_butt {
    left: 100%;
    height: 30px;
    width: 30px;
  }
  .container {
    position: relative;
  }
  .ql {
    font-size: 60px;
    /* line-height: 130%; */
  }
  .butt {
    padding: 20px 70px;
    border-width: 3px;
    border-radius: 50px;
  }
  .arrow {
    margin-left: 4%;
  }
  .transf_game {
    font-size: 20px;
  }
  .transf_wrapp {
    /* margin-right: 20vw; */
    margin-top: 0;
    background-position: center center;
    padding: 5%;
  }
  .become {
    font-size: 25px;
  }
}

/*///////////*/
@media (max-width: 900px) {
  .game {
    width: 100%;
  }
}

@media (max-width: 828px) {
  .menu_butt {
    left: 100%;
  }
  .text_circle {
    top: 18%;
    right: 0%;
    height: 250px;
  }
}

@media (max-width: 787px) {
  .menu_butt {
    left: 100%;
  }
}

@media (max-width: 752px) {
  .menu_butt {
    left: 100%;
  }
  .transf_wrapp {
    /* margin-right: 0vw; */
  }
  .text_circle {
    top: 18%;
    left: 60%;
    height: 250px;
  }
}

@media (max-width: 684px) {
  .game {
    width: 100%;
  }
  .text_circle {
    top: 20%;
    right: 0%;
    height: 200px;
  }
  .menu_butt {
    left: 100%;
    height: 25px;
    width: 25px;
  }
  .ql {
    font-size: 67px;
  }
  .butt {
    padding: 15px 50px;
    border-width: 2px;
  }
  .learn {
    font-size: 17px;
    line-height: 120%;
  }
  .become {
    font-size: 20px;
  }
}

@media (max-width: 601px) {
  .game {
    width: 500px;
  }
  .ql {
    font-size: 50px;
    letter-spacing: normal;
  }
  .transf_game {
    font-size: 16px;
  }
  .become {
    font-size: 17px;
  }
  .game {
    width: 400px;
  }
  .text_circle {
    top: 17%;
    right: 0%;
    height: 150px;
  }
  .transf_wrapp {
    margin-right: 0%;
  }
}
@media (max-width: 507px) {
  .text_circle {
    top: 15%;
  }
  .ql {
    font-size: 40px;
    text-wrap: wrap;
    /* letter-spacing: -2px; */
  }
  .become {
    font-size: 12px;
  }
  .learn {
    font-size: 12px;
  }
}
@media (max-width: 495px) {
  .game {
    width: 100%;
  }
  .text_circle {
    height: 25%;
  }
  .menu_butt {
    left: 98%;
  }
}
@media (max-width: 400px) {
  .text_circle {
    height: 25%;
    top: 15%;
    left: 55%;
  }
  .menu_butt {
    left: 100%;
  }
}
@media (max-width: 342px) {
  .menu_butt {
    height: 15px;
    left: 95%;
    width: 15px;
  }
  .ql {
    font-size: 35px;
  }
  .become {
    font-size: 10px;
  }
  .butt {
    padding: 7px 30px;
    border-width: 1px;
  }
  .arrow {
    height: 8px;
  }
}
