.modal {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(54, 54, 54, 0.5);
  z-index: 1;
  transition: all 0.5s ease;
}
.menu_wrapp {
  padding: 8%;
  position: fixed;
  height: 100vh;
  width: 23%;
  right: 0;
  top: 0;
  z-index: 2;
  background-color: #397a37;
  display: flex;
  flex-direction: column;
  transition: right 0.3s ease;
}
.link {
  color: #fff;
  font-size: 40px;
  padding-bottom: 20px;
  transition: all 0.5s ease;
}
.link:hover {
  transition: all 0.5s ease;
}
.close_butt {
  position: absolute;
  cursor: pointer;
  top: 10px;
  right: 0px;
  height: 60px;
  width: 60px;
  z-index: 0;
}

@media (max-width: 1352px) {
  .link {
    font-size: 30px;
  }
}
@media (max-width: 1064px) {
  .link {
    font-size: 25px;
  }
}
@media (max-width: 700px) {
  .link {
    font-size: 20px;
  }
}
@media (max-width: 600px) {
  .link {
    font-size: 17px;
  }
  .close_butt {
    top: 0px;
  }
}
@media (max-width: 470px) {
  .link {
    font-size: 15px;
  }
  .close_butt {
    top: 0px;
  }
}
