.wrapp {
    padding-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.rights {
  color: #ffffff;
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
}
.logos{
    width: 70px;
    padding: 10px 10px 0px;

}
