.global_wrapp {
  padding: 2.5% 7%;
  margin: 0 auto;
  width: 100%;
  max-width: 1440px;
  box-sizing: border-box;
}
body {
  background-color: #363636;
  user-select: none;
  background-image: url("./components/common/img/backgr.png");
  background-size: 100vw auto;
  background-repeat: repeat-y;
  background-position: start center;
}
